# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/sbxbt_hid_ms910.X/nbproject/private/
/BTKBD.X/nbproject/private/
/sbxbt_hid_ms910/nbproject/private/
/BTKBD.X/build/default/
/BTKBD.X/dist/default/
/USBPS2.X/nbproject/private/
/USBPS2.X/build/default/
/USBPS2.X/dist/default/